.navbar-container{
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
}

.resume-btn{
    background-color: #000000;
    color: #f1f5f9;
    padding: 0.5em 1em;;
    border-radius: 6px;;
}

.resume-btn:hover{
    transform: scale(1.05);
}

.github-logo{
    width: 60px ;
}

.github-logo:hover{
    transform: scale(1.05);
}